* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
.page-head {
    padding: 15px 20px;
    background-color: rgb(242, 249, 249);
}
header img {
    vertical-align: middle;
}
.header-title {
    font-weight: 900;
    display: inline;
    vertical-align: middle;
}
/* Main */
.container {
    width: 50%;
    margin: 0 auto;
    background-color: rgb(242, 249, 249);
    margin-top: 50px;
}
.operations-list a {
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 15px;
}
.add-task {
    background-color: rgb(39, 107, 255);
    color: white;
}
.add-section {
    color: rgb(173, 173, 173);
}